{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main role="main" id="content">
    <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  alpha
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage your funding</h1>
        <p class="govuk-body">Use this service to:</p>
      </div>
    </div>

                
       
             <ul class="govuk-list govuk-list--bullet">
                <li>sign contracts</li>
                <li>view your funding allocations</li>
                <li>view the funding you've received</li>
                <li>send and download files</li>
                <li>tell us about your subcontractors</li>
            </ul>
            
            
            <a href="idams" class="govuk-link govuk-link--no-visited-state">Sign in or create an account</a>

            <h2 class="govuk-heading-l">Before you start</h2> 
        <p>You need to have an account with the government’s <a href="https://secure2.imservices.org.uk/self_registration/">Identity Management Services system</a> to use this.</p>     

    </div>
    </div>

    

</main>
</div>

{% endblock %}


