{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage your education and skills funding</h1>
            
                
        <p class="govuk-body">Use this service to:</p>
        <ul class="govuk-list govuk-list--bullet">


           
                <li>sign contracts</li>
                <li>tell us about your subcontractors</li>
                <li>see your funding statements</li>
                <li>send and download files</li>
            </ul>
            
            <div class="transaction">
                <div id="get-started" class="get-started">
                    <a class="button button-get-started" href="idams">Sign in or create an account</a>
                </div>
            </div><br />

            <h2 class="govuk-heading-l">Before you start</h2>

           <p>You need to have an account with the government’s <a href="ttps://secure2.imservices.org.uk/self_registration/" class="govuk-link">Identity Management Services system</a> to use this.</p>   </a>

        
        
    </div>
    </div>


</main>

{% endblock %}


