{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="govuk-heading-xl">Prototypes using the new 7.0 toolkit July 2018</h1>
       	
			


<br><br>
<h2 class="govuk-heading-l">Sprint one</h2>
			<ul>
				<li><a href="prototypes/pe-public/index.html">PE public</a></li>
				<li><a href="prototypes/adult-funding-start/index.html">Adult Funding</a></li>
				<li><a href="prototypes/admin-upload/idams.html">Admin Upload</a></li>
				<li><a href="prototypes/upload-mat/index.html">Upload MAT</a></li>
				<li><a href="prototypes/upload-mat-v2/index.html">Upload MAT 2</a></li>
			</ul>


<br><br>
<h2 class="govuk-heading-l">Sprint three</h2>

<ul>
				
				<li><a href="prototypes/external-upload/index.html">External upload for a MAT </a></li>
				<li><a href="prototypes/adult-for-FE/index.html">Adult for FE and ILP</a></li>
			</ul>

			<br /><p>&nbsp;</p>

      <h3 class="govuk-heading-m">Other resources</h3>

			<ul>
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


